@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&family=Nunito+Sans:opsz@6..12&family=Playfair+Display:wght@700&family=Roboto:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --font-title: "Playfair Display", serif;
  --font-text: "Nunito Sans", sans-serif;
  --font-text2: "Roboto", sans-serif;
  --yellow: #fdc435;
  --bg-grey: #f9faff;
  --bg-white: #ffffff;
  --gray: #333333;
  --light-gray: #828282;
}
body {
  background-color: var(--bg-grey);
  color: var(--gray);
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  font-family: var(--font-text);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px 10px 120px;
  font-family: var(--font-text2);
}
.main-photo {
  position: absolute;
  z-index: -1;
}
.header-container {
  gap: 50px;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
a {
  color: var(--gray);
  text-decoration: none;
}
.intro {
  width: 486px;
  height: 408px;
  text-align: left;
  margin-left: 120px;
  margin-top: 55px;
}
.intro-subtitle {
  font-size: 20px;
  color: var(--yellow);
  font-family: var(--font-text);
}
.intro-title {
  font-size: 64px;
  line-height: 76.8px;
  font-family: var(--font-title);
  margin-top: 12px;
  margin-bottom: 32px;
}
.intro-text {
  font-size: 24px;
  color: var(--light-gray);
  margin-bottom: 32px;
}
.btn-p {
  padding: 8px 24px;
  background-color: var(--yellow);
  font-family: var(--font-text2);
  border-radius: 8px;
  border: 0;
}
.btn-s {
  padding: 8px 24px;
  font-family: var(--font-text2);
  border-radius: 8px;
  border: 2px solid;
  background-color: var(--bg-grey);
}
.btns {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

#projects {
  width: 992px;
  margin: 0 auto;
}
h2 {
  font-size: 48px;
  font-family: var(--font-title);
  margin-top: 250px;
  text-align: center;
}
h2,
h2::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--yellow);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}
h2::after {
  margin-top: 25px;
}
.projects-title {
  display: flex;
  justify-content: center;
}
h3 {
  font-size: 40px;
  font-family: var(--font-title);
}
.project-text {
  color: var(--light-gray);
}
.project-btn {
  font-family: var(--font-text2);
  border-radius: 24px;
  padding: 8px 24px;
  border: 1px solid;
  margin-top: 24px;
  background-color: var(--bg-white);
}
.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 992px;
  height: 524px;
  background-color: var(--bg-white);
  border-radius: 24px;
  margin-top: 80px;
}
.project img {
  border-radius: 0 24px 24px 0;
}
.project-container {
  text-align: left;
  margin: 150px 40px 150px 50px;
}
#project-photo {
  border-radius: 24px 0 0 24px;
}
input {
  height: 40px;
}
input,
textarea {
  background-color: var(--bg-white);
  border: 1px solid var(--light-gray);
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  font-size: 16px;
  border-radius: 8px;
  width: 400px;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-btn {
  background-color: var(--yellow);
  font-family: var(--font-text2);
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-icons {
  width: 37.5px;
  height: 37.5px;
  margin-top: 60px;
}
.footer-text {
  color: var(--light-gray);
}
